@model IEnumerable<Agenda.Models.Contato>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MENU</h1><br>
    <p>
        <a href="../Contato/Index">Visualizar Contatos</a>
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}